__pycache__
/assets/
/outputs/
.pytest_cache/
web/node_modules/
web/dist/
web/*.tsbuildinfo

# npm package
package/node_modules/
package/resources/
scripts/build/dist/
scripts/build/build/
*.spec.ejs
